*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# misc
GPATH
GRTAGS
GTAGS
TAGS
gtags.conf
*~
\#*\#

#mac 
.DS_Store

#win
Thumbs.db

# files
Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
doc/slim.1
libtool
**/.deps/
**/.libs/
config.h
config.h.in~
genconfig
stamp-h1
test-driver
ylwrap
config.h.in
aclocal.m4
lib/config.lmn
lib/__error_temp.txt
lib/*.il
*.lo
*.la
src/arch.h
src/loader/il_lexer.c
src/loader/il_lexer.h
src/loader/il_parser.c
src/loader/il_parser.h
src/loader/interpret_generated.c
src/loader/translate_generated.c
src/slim
src/verifier/nc_lexer.*
src/verifier/nc_parser.*
src/verifier/nc_parser.h
src/verifier/propsym_lexer.*
src/verifier/propsym_parser.*
src/utility/.deps
src/verifier/.deps
third_party/google-perftools-1.8.3/.deps
third_party/zdelta-2.1/.deps
third_party/**/tcmalloc.h
doc/doxygen/*
test/**/*.log
test/**/*.trs
test/**/*.il
.dirstamp
trash/