# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

Makefile
Makefile.in
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
doc/slim.1
libtool
**/.deps/
**/.libs/
config.h
config.h.in~
genconfig
stamp-h1
test-driver
ylwrap
config.h.in
aclocal.m4
lib/config.lmn
lib/__error_temp.txt
*.il
*.lo
*.la
src/arch.h
src/il_lexer.*
src/il_parser.*
src/interpret_generated.c
src/slim
src/translate_generated.c
src/verifier/nc_lexer.*
src/verifier/nc_parser.*
src/verifier/nc_parser.h
src/verifier/propsym_lexer.*
src/verifier/propsym_parser.*
